html {
/*    font-size: 62.5%;*/
}

header {
    background-image: url(..//img/Layer7.png);
    background-size: cover;
    
}

header h2 {
    font-family: 'Libre Baskerville';
    font-size: 147px;
}

nav {
    font-size: 2.8em;
}

footer {
    background-image: url(..//img/Layer%207%20copy.png);
    background-size: cover;
    height: 4%;
}

.demo-icon.icon-twitter, .demo-icon.icon-facebook, .demo-icon.icon-pinterest-1 { 
    color: grey;
}


i {
    border-radius: 100%;
    width: 3%;
    height: 3%;
    background-color: #FFFFFF;
    margin-right: 2.5%;
    
}